*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/alpaca-java/src/resources/alpaca.properties
/alpaca-java/src/resources/alpaca.properties.default
/alpaca-java/src/resources/polygon.properties
/alpaca-java/src/resources/polygon.properties.default
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.default

app/src/main/java/com/bedefined/alpaca_dashboard/Properties.java

app/google-services.json

alpaca-java/src/main/java/net/jacobpeterson/polygon/PolygonAPI.java

app/release/app-release.aab

app/debug/app-debug.aab
